<%layout('../layout')%>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Flot</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <canvas id="canvas"></canvas>
    </div>
</div>



<!-- /#page-wrapper -->

<script src="/chart.js/dist/Chart.min.js"></script>
<script src="/js/flot-data.js"></script>

<script>
// Template of graph(parameter1, parameter2 ,canvas, name_axeX, name_axeY)
    graph(<%- JSON.stringify(time) %>, [<%=voltages%>] , 'canvas' , 'Time', 'Voltage');
</script>
